<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/myproject.css">
</head>

<body>

    <!-- Navbar Bootstrap -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary " style="background-color: rgb(244, 243, 243) !important">
        <div class="container-fluid mx-5">
            <a class="navbar-brand" href="index.html">
                <img src="assets/img/logodumbways.png" class="img-fluid max-width:100% me-4" style="height: 32px;"
                    alt="logo-dumbways">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4" id="navbarNav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fw-bold" aria-current="page" href="/myproject">Add Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/testimonial">Testimonial</a>
                    </li>
                </ul>

                {{#if isLogin}}
                  <ul class="navbar-nav me-4 mb-2 mb-lg-0 gap-3" id="navbarNavLogin">
                    <li class="nav-item">
                        <a class="nav-link fw-bold active text-danger" href="#">Hello, {{user}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
                {{else}}
                 <ul class="navbar-nav me-4 mb-2 mb-lg-0 gap-3" id="navbarNavLogin">
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
                {{/if}}

                <a href="/contact" id="buttonContactCont">
                    <button type="button" class="btn btn-dark" id="buttonContact">Contact Me</button>
                </a>
            </div>
        </div>
    </nav>

    <!-- FORM BOOTSTRAP -->
    <h2 class="mt-4 d-flex justify-content-center">ADD MY PROJECT</h2>
    {{#if isLogin}}
    <div class="container mt-5">
        <form class="row g-3" action="/myproject" method="POST">
            <div class="col-12">
                <label for="projectName" class="form-label fw-bold">Project Name</label>
                <input type="text" class="form-control" id="projectName" name="name">
            </div>
            <div class="col-md-6">
                <label for="startDate" class="form-label fw-bold">Start Date</label>
                <input type="date" class="form-control" id="startDate" name="startdate">
            </div>
            <div class="col-md-6">
                <label for="endDate" class="form-label fw-bold">End Date</label>
                <input type="date" class="form-control" id="endDate" name="enddate">
            </div>
            <div>
                <label class="mb-2 fw-bold" for="description">Description</label>
                <div class="form-floating">
                    <textarea class="form-control" id="description" name="description"></textarea>
                </div>
            </div>
            <div>
                <label class="mb-2 fw-bold" for="form-check">Technologies</label>
                <div class="col-12 d-flex">
                    <div class="col-6">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="nodejs" name="nodejs">
                            <label class="form-check-label" for="nodejs">
                                Node JS
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="reactjs" name="reactjs">
                            <label class="form-check-label" for="reactjs">
                                React JS
                            </label>
                        </div>
                    </div>

                    <div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="nextjs" name="nextjs">
                            <label class="form-check-label" for="nextjs">
                                Next JS
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="typescript" name="typescript">
                            <label class="form-check-label" for="typescript">
                                TypeScript
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-1">
                <label for="formFile" class="form-label fw-bold">Upload Image</label>
                <div>
                    <input class="form-control d-none" accept="image/*" type="file" id="image">
                    <div class="d-flex">
                        <label class="btn btn-light" for="image">choose</label>
                        <label class="form-control" for="image">
                            <i class="fa-solid fa-paperclip d-flex justify-content-end mt-1"></i>
                        </label>
                    </div>
                </div>
            </div>
    
            <div class="col-12 d-flex justify-content-end mb-4">
                <button type="submit" class="btn btn-dark rounded-pill btn-sm" id="submit">Submit</button>
            </div>
        </form>

    </div>




    <!-- Card -->
    
    <div class="title">
        <h1>MY PROJECT</h1>
    </div>
    <div class="container-master" id="container">
        {{!-- Content moved to javascript --}}
        {{#each projectData}}
        <div class="container-card">
            <div class="container-card-2">
                <div onclick="window.location.href='/detail/{{@index}}';">
                    <div class="container-content">
                        <img src="assets/img/image2.jpg" alt="smartphone" class="image-1">
                        <h4>{{name}}</h4>
                        <span id="totalMonth">{{totalMonth}}</span>
                        <a href="/detail/{{@index}}" class="text-reset text-decoration-none">
                            <p>{{description}}</p>
                        </a>
                    </div>

                    <div class="container-logo">
                        {{#if program.first}}
                        <img src='assets/icon/nodejs.png' alt="logo-nodejs" class="logo-nodejs" id="logo-nodejs">
                        {{/if}}
                        {{#if program.second}}
                        <img src='assets/icon/reactjs.png' alt="logo-reactjs" class="logo-reactjs" id="logo-reactjs">
                        {{/if}}
                        {{#if program.third}}
                        <img src='assets/icon/nextjs.png' alt="logo-nextjs" class="logo-nextjs" id="logo-nextjs">
                        {{/if}}
                        {{#if program.fourth}}
                        <img src='assets/icon/typescript.png' alt="logo-typescript" class="logo-typescript"
                            id="logo-typescript">
                        {{/if}}
                    </div>
                </div>
                <div class="container-button">
                    <button class="edit-button">
                        <a href="/updatemyproject/{{@index}}" class="editx">edit</a>
                    </button>
                    <button class="delete-button">
                        <a href="/delete/{{@index}}" onclick="return confirm('Delete this post?')"
                            class="text-decoration-none text-reset">delete</a></button>
                </div>
            </div>
        </div>
        {{/each}}

        {{!-- --}}
    </div>

    {{/if}}
    <script src="assets/js/myproject.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>